:root {
    --black: #000000;
    --grey: #dbdbdb;
    --primary: #ffff00;
    --secondary: #33ff00;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 10px 80px;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    border-bottom: 2px solid var(--primary);
    z-index: 100;
}

header nav {
    justify-content: space-between;
    width: 100%;
}

.d-flex {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
}

header hr {
    height: 55px;
    margin: 0 30px;
    border: 1px solid var(--white);
}

.navbar {
    list-style: none;
}

.link {
    margin: 0 10px;
    color: var(--grey);
    text-decoration: none;
}

.active {
    color: var(--white);
}

.navbar a:hover {
    color: var(--white);
}

.btn {
    margin: 0 8px;
    padding: 4px 9px;
    background: none;
    font-size: .9em;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: .2s;
}

.btn:hover {
    color: var(--black);
}

.primary {
    color: var(--primary);
    border: 1px solid var(--primary);
}

.primary:hover {
    background: var(--primary);
}

.secondary {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.secondary:hover {
    background: var(--secondary);
}

.banner {
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: url("../img/banner-bg.jpeg") center center no-repeat;
    background-blend-mode: darken;
    transition: .4s;
}

.box {
    flex-direction: column;
    margin: 50px;
    opacity: 0;
    transition: .7s;
}

.box-img {
    height: 150px;
    background: radial-gradient(var(--primary) 15%, transparent 60%);
}

.text {
    color: var(--white);
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
}

.lower {
    flex-direction: column;
    margin-bottom: 50px;
    opacity: 0;
    transition: .7s;
}

.lower p {
    color: var(--white);
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.lower p span {
    color: var(--primary);
}

.lower hr{ 
    width: 100%;
    border: 1px solid var(--white);
}

.lower .btn {
    margin: 0 15px;
    margin-top: 22px;
    font-size: 1.2em;
}